<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<% include ../common/header %>
<div class="container">
<h3>Hello, <%= model.firstName %></h3>
<h2 class="text-success">Your order has placed</h2>
<p>
    Thanks for shopping with us ! You will receive an email when your order is shipped.
</p>
<div style="font-size: large">
    <div class="col-xs-12">
        <label>Product Cost :</label><span> $<%= model.productCost%></span>
    </div>
    <div class="col-xs-12">
        <label>Discount :</label><span> $<%= model.discount %></span>
    </div>
    <div class="col-xs-12">
        <label>Tax :</label><span> $<%= model.tax%></span>
    </div>
    <div class="col-xs-12">
        <label>Shiiping Cost :</label><span> $<%= model.shippingCost%></span>
    </div>
    <div class="col-xs-12" style="font-size: larger">
        <label>Total :</label><span> $<%= model.finalCost%></span>
    </div>
</div>
<div class="row text-center margin-top-20">
    <a class="btn btn-success" href="" >View Your Oder</a>
</div>


<table class="table" >

    <tbody>
    <% model.carts.forEach(function(item, index){ %>
        <tr class="row">
        <td class="col-xs-3 col-sm-2">

            <a href="#" class="thumbnail">
                <img src="http://appstacksolutions.com/images/p2.jpg" alt="...">

            </a>

           <!-- <div class="col-xs-12">
                <img src="<%= item.product.photo.imageUrl %>">
            </div>-->


        </td>
        <td class="col-xs-9 col-sm-10" style="font-size: large">
            <p><a ><%= item.product.name%></a></p>
            <p ><label>Qty:</label><span> <%=item.quantity%></span></p>
            <p><label>Price:</label><span> $<%= item.quantity*item.product.price %></span></p>

    </tr>
    <% })%>


    </tbody>
</table>
</div>
</body>
</html>